.page-header {
  background: url("../img/back_top_1.jpg") no-repeat;
  height: 250px;
  position: relative;
  color: #c1d6e6;
  padding-top: 60px;
  margin-bottom: 30px;
}

.breadcrumbs {
  font-size: 14px;
  padding: 0 4px;
  background: rgba(255,255,255,0.15);
  display: inline-block;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 39px;
}

.breadcrumbs-item::before {
  content: ">";
  position: absolute;
  left: -23px;
  font-size: 15px;
  color: #d8dbe0;
}
.breadcrumbs-item:first-child::before {
  display: none;
}
.breadcrumbs-item:last-child {
  padding-right: 4px;
}
h1 {
  font-size: 45px;
}
.page-about {
  font-size: 14px;
}
