html, body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: #005292;
  height: 84px;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  width: 245px;
  margin: 0;
}

.logo {
  background: url("../img/main-logo.png") no-repeat;
  width: 39px;
  height: 55px;
  margin-right: 10px;
}

.header-logo-text {
  vertical-align: middle;
  color: #ffffff;
}
.dropbtn {
    padding: 5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    background: #ffffff;
    z-index: 100;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 84px;
}

.dropbtn
{
  background: url('../img/Russia-Flag-icon.png') no-repeat 15% center;
  padding-left: 25px;
  width: 54px;
  height: 74px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("../img/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 34px;
    width: 16px;
}
.dropbtn p {
  margin-top: 27px;
  vertical-align: middle;
  padding-left: 10px;
}
.dropdown-content a:last-child
{
  background: url('../img/en.gif') no-repeat 10% center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
    height: 84px;
}
.dropdown-content a p {
  margin-top: 32px;
  vertical-align: middle;
  padding-left: 10px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.main-nav {
  min-height: 84px;
  z-index: 100;
}

.main-menu {
  list-style: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 84px;
  margin: 0;
}

.main-item {
  padding-right: 10px;
  position: relative;
  height: 84px;
}
.main-menu-item {
  display: block;
  vertical-align: middle;
  height: 52px;
  padding-top: 32px;
}

.main-nav li ul {
  display: none;
  color: #000000;
  background-color: #ffffff;
  padding-left: 30px;
  position: absolute;
  width: 260px;

}
.main-item:hover {
  box-shadow: inset 0 -5px #ffbf00;
}
.main-nav li:hover ul {
  display: block;
}
.sub-nav {
  list-style: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0;
}

.sub-nav li {
  margin-top: 10px;
}
.sub-nav li:hover {
  background: #deeaff;
}
.sub-nav li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.head .search-form {
	position: absolute;
	right: 140px;
	top: 5px;
}

.head .search-field {
	background-color: transparent;
	background-image: url("../img/search.png");
	background-repeat: no-repeat;
  background-position: center;
	background-size: 20px 20px;
	border: none;
	cursor: pointer;
	height: 74px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
}

.head .search-field:focus {
	background-color: #fff;
	border: none;
	cursor: text;
	outline: 0;
	width: 700px;
  z-index: 101;
}
.search-form
.search-submit {
display:none;
}
.site-map {
  position: relative;
  width: 84px;
  height: 84px;
  margin-left: 140px;
  background-color: #ffffff;
}
.open-site-map {
  display: block;
  width: 84px;
  height: 84px;
}
.open-site-map::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 33px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/menu.png") no-repeat;
}
.promo {
  display: flex;
  padding-top: 18px;
}
.cont { width: 900px; margin: auto; }
.cont .ism-slider { margin-left: auto; margin-right: auto; }

.ism-slider > ol,
.ism-slider > ol > li,
.ism-slider > ol > li > img {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ism-slider {
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-animation: ism-fadein 3s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
@-webkit-keyframes ism-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes ism-loading {
  50% { left: 120px; }
}

.ism-slider .ism-slides {
  list-style: none;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.ism-slider li.ism-slide {
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #d5d5d5;
  text-align: center;
}

.ism-slider .ism-img-frame {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ism-slider a.ism-image-link {
  position: absolute;
  color: inherit;
  text-decoration: none;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ism-slider .ism-img {
  display: block;
  border: none;
  position: absolute;
  pointer-events: none;
}

.ism-button, .ism-pause-button {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  border: none;
  outline: none;
  text-align:center;
  z-index: 6;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.ism-pause-button {
  display: none;
  left: 50%;
}

.ism-slider:hover .ism-pause-button {
  display: block;
}

.ism-caption {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  padding: 0 1em;
  text-shadow: none;
  line-height: 1.2em;
  padding: 0.25em 0.5em;
  width: auto;
  height: auto;
  text-align: center;
  visibility: hidden;
}

a.ism-image-link .ism-caption, a.ism-caption {
  text-decoration: none;
  font-weight: normal;
}

a.ism-caption:hover {
  text-decoration: underline;
}

.ism-caption-0 {
  z-index: 3;
}

.ism-caption-1 {
  z-index: 4;
}

.ism-caption-2 {
  z-index: 5;
}

.ism-radios {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 1px;
}

.ism-slider .ism-radios {
  position: absolute;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  z-index: 6;
  bottom: 5px;
  left: 0;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 0 7px;
  height: 0;
  overflow: visible;
}

.ism-slider .ism-radios.ism-radios-as-thumbnails {
  bottom: 5px;
}

.ism-radios li {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.ism-radios input.ism-radio {
  display: none;
}

.ism-radios label {
  display: block;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.ism-radios-as-thumbnails label {
  -webkit-background-size: 120% auto; -moz-background-size: 120% auto; -o-background-size: 120% auto; background-size: 120% auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.ism-radios-as-thumbnails label:hover {
  border: 2px solid #fff;
  opacity: 1;
}

.ism-radios-as-thumbnails li.active label {
  border: 2px solid rgba(255, 255, 255, 1.0);
  opacity: 1;
}

p.ism-badge {
  margin: 0 auto;
  text-align: right;
  font-size: 10px;
  padding-top: 1px;
  color: #ccc;
  font-family: sans-serif;
  font-weight: normal;
}

p.ism-badge a.ism-link {
  color: inherit;
  text-decoration: none;
  margin-right: 0.25em;
}

p.ism-badge a.ism-link:hover {
  color: #aaa;
  text-decoration: underline;
}

.ism-zoom-in {
  -webkit-animation: zoomin 0.81s linear 1;
  animation: zoomin 0.81s linear 1;
}

@-webkit-keyframes zoomin {
  0% { -webkit-transform: scale(1.0); transform: scale(1.0); }
  100% { -webkit-transform: scale(3.0); transform: scale(3.0); }
}
@keyframes zoomin {
  0% { -webkit-transform: scale(1.0); transform: scale(1.0); }
  100% { -webkit-transform: scale(3.0); transform: scale(3.0); }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
 100% { opacity: 1; }
}
@keyframes fadein {
  0% { opacity: 0; }
 100% { opacity: 1; }
}

@-webkit-keyframes slidein {
  0% { -webkit-transform: translate(-1200px, 0); transform: translate(-1200px, 0); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}
@keyframes slidein {
  0% { -webkit-transform: translate(-1200px, 0); transform: translate(-1200px, 0); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@-webkit-keyframes popin {
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes popin {
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}

.ism-zoom-pan {
  -webkit-animation: zoompan 20.0s linear 1;
  animation: zoompan 20.0s linear 1;
}
@-webkit-keyframes zoompan {
  0% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
  50% { -webkit-transform: translate(-5%, -5%) scale(1.3); transform: translate(-5%, -5%) scale(1.3); }
  100% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
}
@keyframes zoompan {
  0% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
  50% { -webkit-transform: translate(-5%, -5%) scale(1.3); transform: translate(-5%, -5%) scale(1.3); }
  100% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
}

.ism-zoom-rotate {
  -webkit-animation: zoomrotate 20.0s linear 1;
  animation: zoomrotate 20.0s linear 1;
}
@-webkit-keyframes zoomrotate {
  0% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
  50% { -webkit-transform: rotate(-5deg) scale(1.3); transform: rotate(-5deg) scale(1.3); }
  100% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
}
@keyframes zoomrotate {
  0% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
  50% { -webkit-transform: rotate(-5deg) scale(1.3); transform: rotate(-5deg) scale(1.3); }
  100% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
}
/* SLIDER */

#my-slider {
    width: 833px;
    height: 480px;
    -webkit-border-radius: 5px; border-radius: 5px;
}

#my-slider-ism-badge {
    width: 833px;
}

#my-slider .ism-button {
    display: block;
    width: 50px; height: 100px; background-size: 16px 16px; top: 50%; margin-top: -50px;
    color: #000; background-color: rgba(255, 255, 255, 0.3);
    display: block; visibility: visible;
}

#my-slider .ism-button-prev {
    background-image: url("../img/arrou-left.png");
    border-radius: 0 50px 50px 0; left: 0;
    left: 0;
}

#my-slider .ism-button-next {
    background-image: url("../img/arrou-right.png");
    border-radius: 50px 0 0 50px; right: 0;
    right: 0;
}

#my-slider .ism-pause-button {
    width: 50px; height: 50px; background-size: 16px 16px; top: 50%; margin-top: -25px; border-radius: 25px; margin-left: -25px;
    color: #000; background-color: rgba(255, 255, 255, 0.3); background-image: url("../img/pause.png");
}

#my-slider .ism-pause-button.ism-play {
    background-image: url("../img/play.png");
}

#my-slider .ism-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#my-slider .ism-pause-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#my-slider .ism-radios {
    display: block;
    height: 20px;
    text-align: center;
}

#my-slider .ism-radios label {
    width: 20px; height: 20px;
    border-radius: 10px;
    color: #000; background-color: rgba(0, 0, 0, 0.2); border: 2px solid rgba(255, 255, 255, 0.7);
}

#my-slider .ism-radios li.active label {
    background-color: rgba(255, 255, 255, 1.0);
}

#my-slider .ism-radios label:hover {
    border: 2px solid rgba(255, 255, 255, 1.0);
}


/* SLIDES */

#my-slider .ism-slide-0 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-0 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-1 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-1 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-2 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-2 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-3 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-3 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-4 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-4 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-5 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-5 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-6 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-6 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-7 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-7 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-8 img {
    width: 100%; height: 100%;
}

#my-slider .ism-slide-8 .ism-img {
    width: 100%; height: 100%;
}

#my-slider li.ism-slide-8 .ism-img {
    top: 0; bottom: 0; left: 0; right: 0;
}


/* CAPTIONS */

#my-slider .ism-slide-0 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-3 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-3 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-3 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-4 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-4 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-4 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-5 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-5 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-5 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-6 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-6 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-6 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-7 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-7 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-7 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-8 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-8 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-8 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-0 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-0 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-1 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-2 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-3 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-3 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-3 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-4 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-4 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-4 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-5 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-5 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-5 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-6 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-6 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-6 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-7 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-7 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-7 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-8 .ism-caption-0 {
    font-size: 2em;
    font-family: sans-serif;
    position: absolute; top: 68%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #000; background-color: rgba(255, 255, 255, 0.40);
}

#my-slider .ism-slide-8 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-8 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}
.about-us {
  display: block;
  border: solid 4px #ffbf00;
  margin-left: 10px;
  background: url("../img/icon.png") no-repeat right -30%;
  padding-top: 200px;
}
.about-us p {
  padding: 10px;
}
